<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射接口 -->
<mapper namespace="cn.peter.mapper.OrderMapper">
	<resultMap type="Order" id="orderResultMap">
		<id column="t_id" property="id"/>
		<result column="t_name" property="name"/>
		<result column="t_price" property="price"/> 
	</resultMap>
	
	<select id="getOrderByUid" parameterType="int" resultMap="orderResultMap">
		select * from orders where t_uid=#{id}
	</select>
	
	<select id="listAll" parameterType="int" resultMap="orderResultMap">
		select * from orders
	</select>
</mapper>